.header{
    background-color: rgb(26, 26, 53);
}

.header a {
    text-decoration: none;
    margin-right: 0px;
    padding: 2px 5px;
}
.active{
    background-color: rgb(198, 103, 14);
    border-radius: 5px;
}